{% extends 'base.html' %}
{% block content %}
<main class="bg-gray-50 px-4 md:px-8">
<div class="min-h-screen flex flex-col items-center justify-center">
    <div class="max-w-md w-full">
        <div class="p-6 rounded-lg bg-white border border-slate-300 shadow-xs md:p-8 space-y-6">
            <h1 class="text-slate-900 text-center text-2xl font-bold">Password Reset Complete</h1>
            
            <p class="text-center">
                Your new password has been successfully changed. <br>You can now log in to your account.
            </p>
        </div>
    </div>        
</div>
</main>
{% endblock %}