{% extends 'base.html' %}
{% load static %}

{% block title %}Recipe Detail{% endblock %}
    {% block page_heading %}{{recipe.name}} made by {{recipe.author.name}}{% endblock %}
    {% block content %}
        {% for image in recipe.images.all %}
            <img src ="{{image.image.url}}" alt ="{{image.description}}"width="350">
            <p>{{image.description}}</p>
        {% empty %}
            <p> No images yet</p>
        {% endfor %}
        <h3>Ingredients</h3>
        <ul>
            {% for item in recipe.ingredients.all %}
                <li>{{item.quantity}} <b>{{item.ingredient.name}}</b></li>
            {% empty %}
                <li>No ingredients yet</li>
            {% endfor %}
        </ul>
        <a href="{% url 'ledger:recipe-edit' pk=recipe.pk %}">Edit</a>
        <a href="{% url 'ledger:recipe-delete' pk=recipe.pk %}">Delete</a></p>
   
{% endblock %}